<div class="ps-header-component m-3">
    {{sTitulo}} UNIDAD MEDIDA
</div>
<div class="row m-0 p-0">
    <mat-form-field class="col-12 col-md-2 m-0">
        <mat-label>ID:</mat-label>
        <input type="text" matInput disabled value="{{nIdUnidadMedida}}">
    </mat-form-field>

    <mat-form-field class="col-12 col-md-6 m-0">
        <mat-label>Unidad Medida</mat-label>
        <input type="text" matInput [formControl]="fcUnidadMedida">
        <mat-error *ngIf="isInvalidFc(fcUnidadMedida)">{{getErrorFC(fcUnidadMedida)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-md-4 m-0">
        <mat-label>Simbolo</mat-label>
        <input type="text" matInput [formControl]="fcSimbolo">
        <mat-error *ngIf="isInvalidFc(fcSimbolo)">{{getErrorFC(fcSimbolo)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-md-12 m-0">
        <mat-label>Descripción</mat-label>
        <input type="text" matInput [formControl]="fcDescripcion">
        <mat-error *ngIf="isInvalidFc(fcDescripcion)">{{getErrorFC(fcDescripcion)}}</mat-error>
    </mat-form-field>
</div>
<div class="d-flex justify-content-between m-3">
    <button mat-raised-button color="primary" (click)="fnGuardar()">GUARDAR</button>
    <button mat-raised-button color="warn" (click)="onClose()">CANCELAR</button>
</div>